.produtos {
  max-width: 960px;
  margin: 60px auto;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 60px;
  }

  .produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    .produtos-item {
      flex: 1 1 175px;
      margin: .5rem;
      background: var(--color-background-card);
      transition: transform .25s, box-shadow .25s;

      @mixin Hover($color) {
        border-top: solid 8px $color;

        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 0 0 4px $color;
        }
      }

      &.purple {
        @include Hover(var(--color-purple));
      }

      &.pink {
        @include Hover(var(--color-red));
      }

      &.blue {
        @include Hover(var(--color-cyan));
      }

      h2 {
        font-size: 3rem;
        color: var(--color-card-title-text);
        padding: 60px 20px;
      }
    }
  }
}