@import "./global";
@import "./superinfo";
@import "./menu";

.introducao {
  max-width: 960px;
  margin: 0 auto;
  font-size: 3rem;
  line-height: 3rem;
  padding: 60px 0;
  border-bottom: solid var(--color-blue-2) 2px;
}


.sobre {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;

  display: flex;

  .sobre-info {
    flex: 2 1 300px;

    h1 {
      font-size: 3rem;
      margin-bottom: .5rem;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6rem;
      margin-bottom: 1rem;
      color: var(--color-body-text);
    }


  }

  .sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
    ;
  }
}